/********** Base styles **********/
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(231, 214, 214);
  color: rgb(228, 234, 238);
}
h1 {
  margin-bottom: 15px;
  color: rgb(230, 133, 77);
}

p {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  clear: right;
}

/* Positioning of Titles */
section {
  position: relative;
  margin-top: 20px;
}

#beef section {
  background-color: rgb(219, 206, 89);
  border: 1px solid white;
}

#chicken section {
  background-color: rgb(240, 188, 140);
  border: 1px solid white;
}

#sushi section {
  background-color: rgb(241, 159, 104);
  border: 1px solid white;
}

section h2 {
  position: inherit;
  float: right;
  right: 5%;
  top: 10px;
  margin: 0px 0px;
  width: 130px;
  text-align: center;
  border: 1px solid white;
  border-top: 0px;
  border-right: 0px;
  border-bottom-left-radius: 1cm;
  border-top-left-radius: 1cm;
  /* background-color: chartreuse; */
}
#beef h2 {
  background-color: rgb(112, 103, 18);
}
#chicken h2 {
  background-color: rgb(199, 105, 18);
}
#sushi h2 {
  background-color: rgb(133, 63, 17);
}
.content {
  margin-top: 40px;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/* Header  */
#header-nav {
  background-color: #e0b27d;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  /* Restaurant name */
  font-family: "Lora", serif;
  color: rgb(172, 62, 62);
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}
.navbar-brand a:hover,
.navbar-brand a:focus,
a {
  text-decoration: none;
  color: rgb(117, 99, 99);
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951c49;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggler {
  clear: both;
  margin-top: -30px;
}
/* End Header */
